*{
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
}
@font-face {   
    font-family: "Interr";
}
/* header */
.header-about{
    background-image: url('./image/ghavanin.svg');
    background-size: auto;
    background-repeat: no-repeat;
    position: relative;
    padding-top: 10%;
    height: 50vh;
    background-color: #003366;
}
.header-about h1{
    color: #FFFFFF;
    direction: rtl;
    margin-top: 4%;
    margin-right: 10%;
    font-size: 28px;
}
/* main content */
.header-content{
    position: relative;
    width: 100%;
    height: auto;
    background-color: #FFFFFF;
    margin-bottom: 10%;
}
.header-content-back{
    border-radius: 45px 45px 0px 0px;
    background-color: white;
    position: relative;
    bottom: 50px;
}
.content-box{
    display: flex;
    position: relative;
    padding-top: 10%;
    justify-content: space-between;
    height: auto;
    margin-right: 7%;
    margin-left: 7%;
}
.content-box2{
    display: flex;
    position: relative;
    padding-top: 10%;
    justify-content: space-between;
    flex-direction: row-reverse;
    height: auto;
    margin-right: 7%;
    margin-left: 7%;
}
.content-box:first-child{
    padding-top: 15%;
}
.content-box-texts{
    display: flex;
    justify-content: center;
    flex-direction: column;
    direction: rtl;
    width: 70%;
}
.content-box-texts h1{
    color: #1A202C;
    font-size: 25px;
    font-weight: 700;
}
.content-box-texts p{
    font-size: 18px;
    line-height: 30px;
    font-weight: 400;
    text-align: justify;
    color: #2D3748;
    margin-top: 10%;
}
.content-box-texts-sp{
    color: rgb(204, 78, 211);
    font-family: "Interr";
}
.content-box-texts-sp2{
    color: rgb(204, 78, 211);
    font-family: "Interr";
    text-align: justify;
    width: 90%;
    padding: 2%;
    margin-top: 5%;
    border-left: 2px solid rgb(204, 78, 211);
}
.content-box-image{
    width: 100%;
    display: flex;
    justify-content: flex-start;
}
.content-box-image2{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
.content-box-image2 img{
    height: 100%;
    width: 80%;
    border-radius: 10px;
}
.content-box-image img{
    height: 100%;
    width: 80%;
    border-radius: 10px;
}
.content-box-prof{
    display: flex;
    justify-content: flex-start;
    margin-top: 3%;
}
.content-box-prof img{
    width: 41px;
    height: 41px;
    border-radius: 150px;
}
.content-box-prof-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 2%;
}
.content-box-prof-text h1{
    font-size: 16px;
    font-family: "Interr";
    color: #1A202C;
}
.content-box-prof-text h2{
    margin-top: 1%;
    font-size: 13px;
    font-family: "Interr";
    color: rgba(113, 128, 150, 1);
}
/* mahsolat */
.soalat-aboutus {
    display: flex;
    flex-direction: column;
    direction: rtl;
    align-items: flex-start;
    margin-top: 5%;
    margin-left: 7%;
    margin-right: 7%;
    height: auto;
  }
  
  .soalat h1 {
    font-size: 18px;
    color: #4f4f4f;
  }
  
  .box-soalat {
    margin-top: 3%;
    display: flex;
    flex-direction: column;
    width: 100%;
    border: 1px solid #bdbdbd;
    border-radius: 8px;
    cursor: pointer;
    overflow: hidden;
  }
  
  .box-soalat.active {
    border: 2px solid #002347;
    animation: blurAndFadeOut 0.4s ease-in-out;

  }
  
  .box-soalat-header {
    padding: 2%;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
  }
  
  .box-soalat-header h2 {
    padding: 1%;
    font-size: 16px;
    color: #3d3d3d;
  }
  
  .additional-text {
    display: flex;
    padding: 2%;
  }
  .additional-text p{
    font-size: 16px;
    color: #7A7A7A;
    margin-right: 2%;
  }
  .additional-text img{
    margin-right: 2%;
  }
.manabe-aboutus{
    text-align: right;
    padding-right: 8%;
    padding-left: 8%;
}

.manabe-aboutus-icons {
    margin-top: 5%;
    display: flex;
    overflow-x: auto; /* Ensure horizontal scrolling is allowed */
    white-space: nowrap;
    padding: 3%;
    scrollbar-width: none; /* Hide scrollbar for Firefox */
}

.manabe-aboutus-icons::-webkit-scrollbar {
    display: none; /* Hide scrollbar for Chrome, Safari, and Opera */
}
.manabe-aboutus-icons {
    overflow: hidden;
    white-space: nowrap;
    cursor: grab;
}

.manabe-aboutus-icons,
.manabe-aboutus-icons a,
.manabe-aboutus-icons img {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.manabe-aboutus-icons img {
    margin: 0 10px;
    height: 100px; /* Adjust this as needed */
    transition: transform 0.3s;
    cursor: pointer;
}

.manabe-aboutus-icons img:hover {
    transform: scale(1.4);
    border: 1px solid black;
    padding: 1%;
    border-radius: 8px;
    box-shadow: 0px 1px 1px 1px rgb(182, 182, 182);
}

  /* responsive  */

  /* mobile */
  @media only screen and (max-width: 450px) {
    .box-soalat-header h2 {
        padding: 3%;
      }
    .header-about{
        background-image: none;
    }
    .header-about h1{
        text-align: center;
        margin-right: 0;
    }
    .header-content{
        height: 100vh;
    }
    .header-content-back{
        bottom: 300px;
    }
    .content-box{
        flex-direction: column-reverse;
        margin-right: 0;
    }
    .content-box-texts{
        width: 90%;
    }
    .content-box-image{
        margin-top: 5%;
    }
    .content-box-image img{
        width: 90%;
    }
    .content-box2{
        flex-direction: column-reverse;
        margin-right: 0;
    }
    .content-box-texts{
        width: 90%;
    }
    .content-box-image2{
        margin-top: 5%;
        justify-content: flex-start;
    }
    .content-box-image2 img{
        width: 90%;
    }
    /* manabe */
    .manabe-aboutus-icons{
        overflow: scroll;
        justify-content: flex-start;
        gap: 5%;
        width: auto;
        padding: 5%;
    }
    .manabe-aboutus-icons img{
        width: 99px;
        height: 99px;
    }
    .kharid{
        background-image: none;
    }
    .kharid h1{
        font-size: 20px;
    }
    .kharid h2{
        font-size: 20px;
        margin-top: 7%;
    }
    .kharid a{
        margin-top: 7%;
    }
    .soalat-aboutus h1{
        font-size: 16px;
        margin-bottom: 5%;
    }
  }