.Blog-content{
    position: relative;
    width: 100%;
    height: auto;
    background-color: #FFFFFF;
}
.Blog-content-back{
    border-radius: 45px 45px 0px 0px;
    background-color: white;
    position: relative;
    display: flex;
    justify-content: space-evenly;
    bottom: 90px;
}
.Blog-content-main{
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: space-between;
    height: auto;
    margin-right: 7%;
    margin-left: 7%;
}
/* header */
.Blog-Header{
    display: flex;
    flex-direction: column;
    direction: rtl;
    margin-top: 7%;
}
.Blog-Header h1{
    font-size: 35px;
    font-weight: 700;
}
.Blog-Header p{
    margin-top: 3%;
    font-size: 25px;
    font-weight: 400;
    text-align: justify;
}
.Blog-Header img{
    width: 60%;
    margin-right: auto;
    margin-left: auto;
    height: 50vh;
    margin-top: 5%;
    border-radius: 10px;
}
/* middle */
.Blog-middle{
    display: flex;
    justify-content: space-around;
    margin-top: 5%;
}
.Blog-middle img{
    width: 50%;
    height: 60vh;
    border-radius: 10px;
}
.Blog-middle p{
    font-size: 25px;
    font-weight: 400;
    text-align: justify;
    direction: rtl;
    width: 40%;
    line-height: 45px;
}
/* end */
.Blog-end{
    display: flex;
    flex-direction: column;
    direction: rtl;
    margin-top: 5%;
}
.Blog-end p{
    margin-top: 2%;
    font-size: 25px;
    font-weight: 400;
    text-align: justify;
}
/* moshabe */
.BlogCards-header{
    direction: rtl;
    font-size: 18px;
    margin-top: 10%;
}
.Blog-Cards{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    margin-top: 3%;
}
.Blog-Cards a{
    border: 2px solid var(--secondary-darker, #002347);
    border-radius: 20px;
    box-shadow: 0px 0px 16px 0px #1B2B4E33;
    padding: 1%;
    display: flex;
    flex-direction: column;
    direction: rtl;
    flex-basis: 22%;
    text-decoration: none !important;
}

.Blog-Cards-box img{
    width: 100%;
    height: 20vh;
    border-radius: 10px;
    border: 1px solid #C4C4C4;
}
.Blog-Cards-box h1{
    font-size: 16px;
    color: #3D3D3D;
    margin-top: 10%;
}
.Blog-Cards-box span{
    margin-top: 15%;
    direction: ltr;
    display: flex;
    align-items: center;
    cursor: pointer;
    color: #FF7F50;
}
.Blog-Cards-box span img{
    width: 24px;
    height: 24px;
    border: none;
    margin-right: 3%;
}
.Blog-Cards-arrows{
    position: absolute;
    display: flex;
    justify-content: space-between;
    margin-top: 10%;
    width: 110%;
}
.Blog-Cards-arrows img{
    width: 44px;
    height: 44px;
}
.Blog-Cards-arrows-left{
    cursor: pointer;
}
.Blog-Cards-arrows-right{
    cursor: pointer;
}
.Blog-Header div p strong{
    font-size: 30px;
    font-weight: 700;
    color: black !important;
}
.Blog-Header div p{
    font-size: 23px;
}
@media only screen and (max-width: 450px) {
    .Blog-content-back{
        bottom: 230px;
    }
    .Blog-Header h1{
        font-size: 22px;
        font-weight: 700;
    }
    .Blog-Header p{
        font-size: 22px;
        margin-top: 10%;
        font-weight: 400;
    }
    .Blog-Header img{
        width: 100%;
        height: 25vh;
    }
    .Blog-middle img{
        display: none;
    }
    .Blog-middle p{
        width: 100%;
        font-size: 22px;
        font-weight: 400;
    }
    .Blog-end p{
        font-size: 22px;
        font-weight: 400;
    }
    .Blog-Cards-arrows{
        display: none;
    }
    /* cards */
    .Blog-Cards{
        overflow-x: auto;
        justify-content: flex-start;
        width: 100%;
    }
    .Blog-Cards-box{
        flex-basis: 100%;
    }
    .Blog-Header div p strong{
        font-size: 22px;
    }
    .Blog-Header div p{
        font-size: 22px;
    }
}