

.Companies-header{
    padding-right: 8%;
    padding-left: 8%;
    padding-top: 15%;
    height: auto;
    background-repeat: no-repeat;
    background-size: auto;
    background-position-x: 105%;
    background-image: url('./image/companiesbg.svg');
}
.Companies-header-khareji{
    background-image: none;
    padding-top: 7%;
}
.Companies-center{
    padding-right: 9%;
    padding-left: 9%;
    height: 5vh;
}
/* search box */
.Searchbox-main2{
    box-shadow: 00px 0px 24px 0px #1B2B4E33;
    display: flex;
    position: relative;
    flex-direction: column;
    direction: rtl;
    width: 100%;
    height: auto;
    background-color: #F6F6F6;
    border-radius: 20px;
    padding: 5%;
    box-shadow: 0px 0px 24px 0px #1B2B4E33;
}
.Searchbox-main2 h1{
    color: #002347;
    font-size: 20px;
}
.Searchbox-items2{
    display: flex;
    direction: rtl;
    width: 100%;
    margin-top: 2%;
}
.Searchbox-items2 input{
    flex-basis: 25%;
    height: auto;
    border: 1px solid #BDBDBD;
    border-radius: 8px;
    padding: 1%;
    padding-right: 4%;
}
.Searchbox-items2 img{
    position: relative;
    right: 3%;
}
.Searchbox-items2 select{
    font-family: "Sans";
    flex-basis: 25%;
    height: auto;
    border: 1px solid #BDBDBD;
    border-radius: 8px;
    padding: 1%;
    padding-right: 4%;
}
.Searchbox-items2 button{
    direction: rtl;
    text-align: right;
    padding-right: 3%;
    flex-basis: 15%;
    border: none;
    height: auto;
    background-color: #FF7F50;
    color: #FFFFFF;
    border-radius: 8px;
    transition: .3s;
    cursor: pointer;
}
.Searchbox-items2 button:hover{
    background-color: #d43800;
    transition: .3s;
}
.Searchbox-items2 .searchicon2{
    position: relative;
    right: 13%;
}
/* filter header */
.Companies-filter-header{
    padding-right: 8%;
    padding-left: 8%;
    margin-top: 3%;
    display: flex;
    direction: rtl;
    flex-direction: column;
    align-items: center;
}
.Companies-filter-header h1{
    color: #3D3D3D;
    font-size: 24px;
    font-weight: bold;
}
.Companies-filter-header p{
    color: #3D3D3D;
    font-size: 18px;
    text-align: center;
    margin-top: 3%;
    line-height: 30.13px;
}
/* companies filter search box */
.Searchbox-main2{
    box-shadow: 00px 0px 24px 0px #1B2B4E33;
    display: flex;
    position: relative;
    flex-direction: column;
    direction: rtl;
    width: 100%;
    height: auto;
    background-color: #F6F6F6;
    border-radius: 20px;
    padding: 5%;
    box-shadow: 0px 0px 24px 0px #1B2B4E33;
}
.Searchbox-main-companies{
    display: flex;
    direction: rtl;
    width: 100%;
    margin-top: 2%;
}
.Searchbox-items22{
    display: flex;
    direction: rtl;
    width: 100%;
    margin-top: 2%;
}
.Searchbox-items22 img{
    position: relative;
    right: 3%;
}
.Searchbox-items22 select{
    font-family: "Sans";
    flex-basis: 20%;
    height: 48px;
    border: 1px solid #BDBDBD;
    border-radius: 8px;
    padding-right: 1%;
    appearance: none; /* Remove default appearance */
    -webkit-appearance: none; /* Remove default appearance for WebKit browsers */
    -moz-appearance: none; /* Remove default appearance for Firefox */
    background-image: url('./Icons/expanddownsoalat.svg'); /* Add custom expand down icon */
    background-repeat: no-repeat; /* Prevent repeating the background image */
    background-position: left; /* Position the background image to the right center */
    background-position-x: 5%;
    background-size: 20px; /* Set the size of the background image */
}
.Searchbox-items22 input{
    font-family: "Sans";
    flex-basis: 20%;
    height: 48px;
    border: 1px solid #BDBDBD;
    border-radius: 8px;
    padding-right: 1%;
}
.Searchbox-items22 select:not(:first-child){
    margin-right: 2%;
}
.Searchbox-items22 button{
    direction: rtl;
    text-align: right;
    padding-right: 3%;
    flex-basis: 10%;
    border: none;
    height: 48px;
    background-color: #FF7F50;
    color: #FFFFFF;
    border-radius: 8px;
    transition: .3s;
    cursor: pointer;
}
.Searchbox-items22 button:hover{
    background-color: #d43800;
    transition: .3s;
}
.Searchbox-items22 .searchicon2{
    position: relative;
    right: 8.5%;
}
/* result cards2 */
.Companies-slider{
    margin-top: 7%;
    margin-right: 9%;
    margin-left: 9%;
}
.slider2{
    display: flex;
    flex-direction: row;
    position: relative;
    direction: rtl;
    width: 100%;
    height: auto;
    margin-bottom: 15%;
}
.slider2-notfound{
    margin-right: auto;
    margin-left: auto;
    font-size: 25px;
    border: 1px solid #7A7A7A;
    border-radius: 8px;
    padding: 2%;
    width: 30%;
    text-align: center;
}
@keyframes blurAndFadeOut {
    0% {
      filter: blur(10px);
      opacity: 0;
    }
    100% {
      filter: blur(0px);
      opacity: 1;
    }
  }
.slider2 h1{
    font-size: 18px;
    color: #3D3D3D;
}
.card-box2{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 100%;
    gap: 2%;
    height: auto;
}
.cards2{
    overflow: hidden;
    flex-basis: 23.5%;
    width: 264px;
    height: auto;
    border: 2px solid #002347;
    border-radius: 20px;
    margin-top: 1%;
    margin-bottom: 4%;
    transition: all .2s;
    animation: blurAndFadeOut 0.5s forwards;
}
.cards2:hover{
    transition: all .2s;
    border: 2px solid #FF7F50;
    box-shadow: 0px 0px 16px 0px #1B2B4E33;

}
.cards2 .bookmarkicon{
    position: relative;
    top: 5%;
    margin-right: 85%;
    cursor: pointer;
    z-index: 2;
}
.arrow-card{
    width: 100%;
    height: 100%;
    position: absolute;
}
.arrow-card-right{
    position: relative;
    left: 7%;
    top: 45%;
    cursor: pointer;
}
.arrow-card-left{
    position: relative;
    left: -100%;
    cursor: pointer;
    top: 45%;
}
.cards-info2{
    display: flex;
    direction: rtl;
    flex-direction: column;
    width: 100%;
    padding: 5%;
}
.cards-info2 img{
    width: 102px;
    height: 102px;
    border-radius: 100px;
    border: 1px solid #959595;
    margin-right: auto;
    margin-left: auto;
}
.cards-info2 h1{
    font-family: "Sans";
    margin-top: 10%;
    line-height: 18px;
    font-family: 16px;
    color: #3D3D3D;
}
.cards-info2 h2{
    margin-top: 10%;
    font-family: "Sans";
    font-size: 14px;
    color: #7A7A7A;
}
.cards-info-row2{
    margin-top: 10%;
    width: 100%;
    display: flex;
    direction: rtl;
    align-items: center;
    justify-content: space-between;
}
.cards-info-row2 a{
    text-decoration: none !important;
}
.cards-info-row-more2{
    display: flex;
    align-items: center;
    z-index: 2;
    cursor: pointer;
}
.cards-info-row2 h3{
    font-size: 12px;
    color: #959595;
}
.cards-info-row-more2 h3{
    font-size: 14px;
    color: #FF7F50;
}
.cards-info-row-more2 img{
    width: 24px;
    height: 24px;
    border: none;
}
.slider-showmore{
    display: flex;
    align-items: center;
    justify-content: center;
    direction: rtl;
}
.slider-showmore span{
    font-size: 24px;
    color: #FF7F50;
    margin-left: 1%;
    line-height: 29.64px;
    position: relative;
    top: -10%;
}
/* change or delete filter */
.Companies-delete-filter{
    display: flex;
    margin-top: 5%;
    flex-direction: column;
    direction: rtl;
    margin-right: 9%;
    margin-left: 9%;
}
.Companies-delete-filter-items{
    display: flex;
    margin-top: 3%;
    margin-right: 7%;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 2%;
    direction: rtl;
}
.Companies-delete-filter-items span{
    background-color: rgb(226, 226, 226);
    padding: 1%;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-basis: 15%;
    transition: all .3s;
}
.Companies-delete-filter-items span:hover{
    background-color: rgb(204, 204, 204);
    transition: all .3s;
}
/* responsive --------- */
@media only screen and (max-width: 1500px) {
    .Searchbox-items2 img{
        right: 4%;
    }
    .Searchbox-items2 input , .Searchbox-items2 select{
        padding-right: 5%;
    }
    .Searchbox-items2 button{
        flex-basis: 18%;
    }
}