.companie-page{
    width: 100%;
    height: auto;
    margin-bottom: 10%;
}
.companie-header-bg{
    background-image: url('./image/ghavanin.svg');
    background-size: auto;
    background-repeat: no-repeat;
    position: relative;
    padding-top: 10%;
    height: 35vh;
    background-color: #003366;
}
/* content */
.companie-content{
    height: auto;
    width: 100%;
    position: relative;
    top: -20px;
    z-index: 2;
    background-color: white;
    border-radius: 30px;
    box-shadow: 0px -4px 30px 0px #1C0D3D66;
}
.companie-content hr{
    margin-right: 10%;
    margin-left: 10%;
    border: none;
    height: 0.2vh;
    /* Set the hr color */
    color: #002347;  /* old IE */
    background-color: #002347;  /* Modern Browsers */
}
.companie-content-header{
    display: flex;
    direction: rtl;
    width: 100%;
    height: auto;
}
.companie-content-header img{
    width: 124px;
    height: 124px;
    border: 1px solid #959595;
    border-radius: 100px;
    position: relative;
    top: -9vh;
    margin-right: 10%;
}
.companie-content-header h1{
    color: #3D3D3D;
    font-size: 28px;
    margin-right: 5%;
    padding-top: 1%;
}
.companie-content-header-title{
    display: flex;
    direction: rtl;
    margin-right: 10%;
}
.companie-content-header-title h1{
    font-size: 18px;
    color: #626262;
    cursor: pointer;
    transition: all .2s;
}
.companie-content-header-title-active{
    color: #FF7F50 !important;
    border-bottom: 3px solid #FF7F50;
    padding-bottom: 3%;
    transition: all .2s;
}
.companie-content-header-title h1:hover{
    transition: all .2s;
    color: #000000;
    font-weight: bold;
}
.companie-content-header-title h1:not(:first-child){
    margin-right: 5%;
}
/* main content */
.companie-content-detail{
    display: flex;
    direction: rtl;
    margin-right: 6%;
    flex-wrap: wrap;
    margin-left: 30%;
}
.companie-content-detail h2{
    font-size: 14px;
    margin-right: 7%;
    padding-top: 5%;
    color: #3D3D3D;
    font-weight: bold;
    flex-basis: 30%;
}
.companie-content-detail span{
    color: #7A7A7A;
    margin-right: 7%;
    padding-top: 5%;
    flex-basis: 30%;
}
.companie-content-detail-des {
    display: flex;
    flex-direction: column;
    direction: rtl;
    margin-right: 10%;
    margin-left: 10%;
    margin-top: 5%;
    backdrop-filter: blur(5px); /* Apply a blur effect */
    background-color: rgba(255, 255, 255, 0.5); /* Adjust opacity for blur effect */
    border-radius: 10px; /* Rounded corners for container */
    padding: 20px; /* Add padding to container */
    position: relative; /* Make the container position relative */
  }
  
  .companie-content-detail-des p {
    filter: blur(5px); /* Apply blur effect to <p> elements only */
  }
  
  .companie-content-detail-des-button {
    position: absolute; /* Position the button absolutely */
    bottom: 50%; /* Align the button to the vertical middle */
    left: 50%; /* Align the button to the horizontal middle */
    transform: translate(-50%, 50%); /* Adjust position to center */
  }
  
  .companie-content-detail-des-button button {
    width: 200%;
    background-color: #FF7F50;
    border: none;
    color: white;
    padding: 15%;
    text-align: center;     
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    border-radius: 8px;
  }
  .companie-content-detail-des-button button:hover {
    background-color: #FF6347; /* New background color on hover */
    transition: all 0.3s ease-in-out;
    padding: 30%;
  }
.companie-content-detail-des h2{
    color: #4F4F4F;
    font-size: 18px;
    filter: none; /* Ensure h2 elements are not blurred */
    font-weight: bold;
}
.companie-content-detail-des h2:not(:first-child){
    margin-top: 5%;
}
.companie-content-loading {
    background-color: #959595;
    border: 1px solid rgb(156, 156, 156);
    height: 100%;
    padding: 5px; /* Adjust padding as needed */
    border-radius: 8px;
    position: relative;
    overflow: hidden; /* Ensures the animation doesn't overflow */
    animation: colorShift 1s ease-in-out infinite alternate; /* Color shift animation */
}

@keyframes colorShift {
    0% {
        background-color: #959595; /* Starting color */
    }
    100% {
        background-color: #CCCCCC; /* Ending color */
    }
}

.companie-content-detail-des p{
    color: #3D3D3D;
    font-size: 18px;
    margin-top: 3%;
    text-align: justify;
    line-height: 26px;
    padding-bottom: 5%;
}
/* sub show */
.companie-content-detail-des-sub{
    display: flex;
    flex-direction: column;
    direction: rtl;
    margin-right: 10%;
    margin-left: 10%;
    margin-top: 5%;
    margin-bottom: 20%;
    filter: blur(4px);
}
.companie-content-detail-des-sub h2{
    color: #4F4F4F;
    font-size: 18px;
    font-weight: bold;
}
.companie-content-detail-des-sub h2:not(:first-child){
    margin-top: 5%;
}
.companie-content-detail-des-sub p{
    color: #3D3D3D;
    font-size: 18px;
    margin-top: 3%;
    text-align: justify;
    line-height: 26px;
    padding-bottom: 5%;
}
.companie-content-buy{
    position: absolute;
    width: 70%;
    box-shadow: 0px 4px 4px 0px #00000040 inset;
    background-color: rgba(182, 180, 180, 0.9);
    left: 15%;
    top: 30%;
    border-radius: 10px;
    padding: 3%;
    z-index: 1;
}
.companie-content-buy-main{
    display: flex;
    direction: rtl;
    flex-direction: column;
    align-items: center;
}
.companie-content-buy h1{
    text-align: center;
    color: #003366;
    font-size: 24px;
    font-weight: 700;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding: 1%;
    
}
.companie-content-buy button{
    width: 30%;
    margin-right: auto;
    margin-left: auto;
    background-color: #FF7F50;
    color: white;
    padding: 2%;
    border-radius: 8px;
    border: none;
    margin-top: 5%;
    cursor: pointer;
    transition: all .3s;
}
.companie-content-buy button:hover{
    transition: all .3s;
    padding: 2%;
    width: 40%;
    border: 2px solid #d0410e;
}
.companie-content-header-bookmark{
    border: none !important;
    top: 0 !important;
    width: 80px !important;
    height: 80px !important;
    margin-right: auto !important;
    margin-left: 10%;
    cursor: pointer;
    animation: vibrateWithPause 4s infinite; /* 4s total duration, infinite repeat */
}
@keyframes vibrate {
    0% {
      transform: translateX(-5px);
    }
    25% {
      transform: translateX(5px);
    }
    50% {
      transform: translateX(-5px);
    }
    75% {
      transform: translateX(5px);
    }
    100% {
      transform: translateX(0);
    }
  }
  
  @keyframes vibrateWithPause {
    0% {
      transform: translateX(-5px);
    }
    10% {
      transform: translateX(5px);
    }
    20% {
      transform: translateX(-5px);
    }
    30% {
      transform: translateX(5px);
    }
    40% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(0);
    }
  }
/* mobile */
@media only screen and (max-width: 450px) {
    .companie-content{
        top: -320px;
    }
    .companie-content-header{
        margin-bottom: 3%;
    }
    .companie-content-header img{
        width: 50px;
        height: 50px;
        top: -3vh;
    }
    .companie-content-header h1{
        font-size: 16px;
        padding-top: 3%;
    }
    .companie-content-header-title h1{
        font-size: 14px;
    }
    .companie-content hr{
        margin-right: 10%;
        margin-left: 10%;
        border: none;
        height: 0.2vh;
        /* Set the hr color */
        color: #FF7F50;  /* old IE */
        background-color: #FF7F50;  /* Modern Browsers */
    }
    .companie-content-detail h2{
        font-size: 14px;
        font-weight: 700;
    }
    .companie-content-detail span{
        flex-basis: 50%;
        font-size: 14px;
    }
    .companie-content-detail{
        margin-left: 0;
    }
    .companie-content-buy h1{
        font-size: 24px;
    }
    .companie-content-buy button{
        width: 60%;
        font-size: 20px;
    }
    .companie-content-header-bookmark{
        border: none !important;
        top: 0 !important;
        width: 50px !important;
        height: 50px !important;
        margin-right: 3% !important;
        cursor: pointer;
    }
    .companie-content-detail-des-button{
        margin-left: 13%;
      }
    .companie-content-loading {
      margin-top: 5%;
    }
    .companie-content-loading :last-child{
        margin-bottom: 10%;
    }
    .companie-header-bg{
        height: 50vh;
    }
}