  /* fotter section */
  .footer{
    margin-top: 5%;
    height: 80vh;
    margin-bottom: 7%;
  }
 .footerbg{
    position: absolute;
    width: 100%;
 } 
 .footet-detail{
    margin-left: 9%;
    margin-right: 9%;
    z-index: 1;
    position: relative;
    top: 10%;
 }
 .signup{
    width: 100%;
    position: relative;
    background-color: #FF7F50;
    border-radius: 5px;
    display: flex;
    height: auto;
    flex-direction: column;
    justify-self: center;
    align-items: center;
    direction: rtl;
 }
 .signup h1{
    font-size: 32px !important;
    color: #FFFFFF;
    padding: 2%;
 }
 .singup-submit{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 3%;
 }
 .singup-submit input{
    width: 55%;
    height: auto;
    border-radius: 5px;
    border: none;
    font-size: 20px;
    padding: 2%;
    direction: rtl;
 }
 .singup-submit input::placeholder{
    padding: 2%;
    color: #2B3D51;
    font-size: 16px;
 }
 .singup-submit button{
    background-color: #FF7F50;
    height: 26%;
    width: 17%;
    position: absolute;
    color: white;
    border: none;
    border-radius: 5px;
    margin-right: 36%;
    margin-top: 0.7%;
    cursor: pointer;
 }
 .footer-about{
    display: flex;
    flex-direction: column;
    direction: rtl;
    margin-top: 5%;
 }
 .footer-about h2{
    font-weight: bold;
    font-size: 16px;
    color: #3D3D3D;
 }
 .footer-about p{
    font-size: 14px;
    color: #7A7A7A;
    margin-top: 2%;
    line-height: 17.29px;
    width: 60%;
 }
 .footer h1{
    margin-top: 2%;
    font-size: 16px;
    direction: rtl;
    margin-right: 5%;
 }
 .footer-pages{
    display: flex;
    justify-content: space-between;
    width: 100%;
 }
 .footer-namads{
    display: flex;
    width: 40%;
    justify-content: space-between;
 }
 .namads-place{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
    border-radius: 8px;
    height: 112px;
    border: 1px solid #D1D1D1;
 }
 .namads-place img{
    padding: 3%;
    cursor: pointer;
 }
 .links{
    width: 55%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    direction: rtl;
 }
 .links-row{
    display: flex;
    margin-top: 3%;
    width: 100%;
    justify-content: flex-start;
    direction: rtl;
 }
 .links-row a{
    font-size: 14px;
    cursor: pointer;
    color: #2D69E5;
    margin-right: 9%;
 }
 .links-row a:not(:first-child){
    margin-right: 20%;
 }
 .footet-detail hr{
    margin-top: 2%;
 }
.footer-end{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 2%;
    margin-left: 2%;
    width: 100%;
    margin-top: 1%;
}
.social-icon{
    display: flex;
    justify-content: space-between;
    width: 15%;
    margin-top: 1%;
}
.hoghogh{
    width: 75%;
    display: flex;
    flex-direction: row;
    direction: rtl;
    align-items: center;
}
.hoghogh h1{
    font-size: 14px;
    color: #3D3D3D;
    text-align: center;
}
/* mobile desing */
@media only screen and (max-width: 500px) {
   .singup-submit{
      display: none;
   }
   .signup{
      display: none;
   }
   .footer{
      height: 60vh;
   }
   .footer-hr{
      border: none;
      border-top: 1px solid #D1D1D1;
      margin-right: 9%;
      margin-left: 9%;
      margin-top: 10%;
   }
   .footet-detail{
      top: 0%;
   }
   .footet-detail h1{
      margin-top: 5%;
   }
   .footer-about h2{
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-size: 16px;
      font-weight: 400;
   }
   .footer-about h2 img{
      width: 32px;
      height: 32px;
   }
   .footer-about p{
      font-size: 14px;
      margin-top: 5%;
      width: 100%;
      text-align: justify;
   }
   .footer-pages{
      flex-direction: column-reverse;
      align-items: flex-end;
   }
   .links{
      width: 100%;
   }
   .links-row a:not(:first-child){
      margin-right: 20%;
   }
   .links-cloum{
      display: flex;
      justify-content: space-between;
      width: 100%;
   }
   .links-cloum-list{
      display: flex;
      margin-top: 3%;
      width: 100%;
      flex-direction: column;
      justify-content: space-between;
      direction: rtl;
   }
   .links-cloum-list a{
      font-size: 14px;
      cursor: pointer;
      color: #2D69E5;
      margin-right: 9%;
      margin-top: 10%;
   }
   .footer-namads{
      width: 100%;
   }
   .namads-place{
      width: 30%;
      margin-top: 5%;
   }
   .namads-place img{
      width: 100px;
      height: 100px;
   }
   .hoghogh{
      width: 100%;
   }
   .hoghogh h1{
      font-size: 13px;
   }
   .footer-end{
      flex-direction: column-reverse;
   }
   .social-icon{
      margin-top: 5%;
      width: 50%;
   }
   
}