/* header */
.header-ghavanin{
    background-image: url('./image/ghavanin.svg');
    background-size: auto;
    background-repeat: no-repeat;
    position: relative;
    padding-top: 10%;
    height: 50vh;
    background-color: #003366;
}
.header-ghavanin h1{
    display: flex;
    align-items: center;
    color: #FFFFFF;
    direction: rtl;
    margin-top: 4%;
    margin-right: 10%;
    font-size: 28px;
}
.header-ghavanin h1 img{
    margin-left: 3%;
}
/* main content */
.ghavanin-content{
    border-radius: 45px 45px 0px 0px;
    background-color: white;
    top: -50px !important;
    position: relative;
    bottom: 4%;
}
.ghavanin-content-back{
    border-radius: 45px 45px 0px 0px;
    background-color: white;
    position: relative;
    bottom: 4%;
}
/* mobile */
@media only screen and (max-width: 450px) {
    .header-ghavanin{
        height: 25vh;
        background-image: none;
    }
    .header-ghavanin h1{
        font-size: 28px;
        font-weight: 700;
        margin-right: 0;
        justify-content: center;
    }
    .ghavanin-content-back{
        bottom: 5%;
        padding-top: 10%;
    }
}