*{
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
    font-weight: lighter;
}
/* alret demo */
.alert-demo{
    position: absolute;
    z-index: 5;
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 2px 2px 2px 0px black;
    width: 40%;
    margin-top: 3%;
    margin-left: 25%;
    font-size: 30px;
    display: flex;
    align-items: center;
    border-radius: 8px;
    height: 10vh;
    justify-content: flex-end;
    padding: 3%;
    gap: 5%;
    cursor: pointer;
}
/* WebKit Browsers (Chrome, Safari) */
/* Smooth scrolling behavior */
html {
    scroll-behavior: auto;
  }
  
  /* Custom scrollbar styles for WebKit (Chrome, Safari) */
  /* Note: These will only apply to browsers that support ::-webkit-scrollbar */
  ::-webkit-scrollbar {
    width: 8px;
    background-color: #f5f5f5;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 4px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background-color: #555;
  }
  
  /* Custom scrollbar styles for Firefox */
  /* Note: Firefox supports scrollbar-width and scrollbar-color */
  html {
    scrollbar-width: thin; /* "auto" can be used for a platform-specific scrollbar width */
    scrollbar-color: #888 #f5f5f5; /* thumb and track colors */
  }
  
  html:hover {
    scrollbar-color: #555 #f5f5f5;
  }
  
  
.alert-demo img{
    width: 54px;
}
/* alret demo */
header{
    background-image: url('./Icons/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 70%;
    width: 100%;
    height: 70vh;
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 70%;
    background-color: rgba(0, 51, 102,0.8);
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
.overlay h1{
    font-size: 36px;
}
.overlay h2{
    font-size: 20px;
    margin-top: 2%;
}
.overlay h2 span{
    font-size: 48px;
    line-height: 59.27px;
}
.overlaynotrow{
    display: flex;
    position: relative;
    margin-right: 13%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--whitebody);
}
.overlaynotrow h1{
    color: white;
    font-size: 52px;
    animation: blurAnimationhome 1s ease-out;
    will-change: filter; /* Hint to browsers for optimization */
}
.overlaynotrow h2{
    color: white;
}
@keyframes blurAnimationhome {
    0% {
        filter: blur(10px);
      }
      10% {
        filter: blur(9px);
      }
      20% {
        filter: blur(8px);
      }
      30% {
        filter: blur(7px);
      }
      40% {
        filter: blur(6px);
      }
      50% {
        filter: blur(5px);
      }
      60% {
        filter: blur(4px);
      }
      70% {
        filter: blur(3px);
      }
      80% {
        filter: blur(2px);
      }
      90% {
        filter: blur(1px);
      }
      100% {
        filter: blur(0);
      }
  }
.overlaym{
    width: 30%;
    direction: rtl;
    position: absolute;
    right: 0;
    z-index: 2;
    margin-right: 8.5%;
}
.overlaym-bg{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('./Icons/mostatil.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: right;
    width: 100%;
    height: 40vh;
}
/* header end */

/* main content */
main{
    height: auto;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    margin-right: 9%;
    margin-left: 9%;
    
}
.Searchbox-main{
    box-shadow: 00px 0px 24px 0px #1B2B4E33;
    display: flex;
    position: relative;
    top: -65px;
    flex-direction: column;
    direction: rtl;
    width: 100%;
    height: auto;
    background-color: #FF7F50;
    border-radius: 20px;
    padding: 5%;
}
.Searchbox-main h1{
    color: #002347;
    font-size: 26px;
    font-weight: 700;
}
.Searchbox-items{
    display: flex;
    direction: rtl;
    width: 100%;
    margin-top: 2%;
}
.Searchbox-items input{
    flex-basis: 25%;
    height: auto;
    border: 1px solid #BDBDBD;
    border-radius: 8px;
    padding: 1%;
    padding-right: 4%;
}
.Searchbox-items img{
    position: relative;
    right: 3%;
}
.Searchbox-items select{
    font-family: "Sans";
    flex-basis: 25%;
    height: auto;
    border: 1px solid #BDBDBD;
    border-radius: 8px;
    padding: 1%;
    padding-right: 4%;
}
.Searchbox-items button{
    direction: rtl;
    text-align: right;
    padding-right: 3%;
    flex-basis: 15%;
    width: 144px;
    height: auto;
    background-color: #002347;
    color: #FFFFFF;
    border-radius: 8px;
    cursor: pointer;
}
.Searchbox-items .searchicon2{
    position: relative;
    right: 13%;
}

/* slider  */
/* animation slider */
.slider {
    display: flex;
    flex-direction: column;
    position: relative;
    direction: rtl;
    width: 100%;
    height: auto;
    justify-content: none !important;
}

.slider h1 {
    font-size: 26px;
    font-weight: 700;
    color: #3D3D3D;
    margin-right: 5vw; /* Adjust margin for better alignment */
}
.card-box {
    overflow-x: hidden; /* Allow horizontal scrolling */
    overflow-y: hidden !important; /* Hide vertical scrolling */
    white-space: nowrap;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: flex-start;
    direction: ltr;
    padding: 0 5vw; /* Add padding to create space for blurred areas */
    position: relative; /* Ensure relative positioning for the pseudo-elements */
    cursor: grab; /* Indicate draggable area */
    -webkit-overflow-scrolling: touch; /* Enable momentum scrolling on iOS */
    touch-action: manipulation; /* Improve touch responsiveness */
  }

.card-box:active {
    cursor: grabbing; /* Change cursor when dragging */
}

.cards {
    flex-shrink: 0;
    width: 25%; /* Adjust width based on your design */
    height: auto;
    border: 2px solid #002347;
    border-radius: 20px;
    margin: 4% 2%; /* Adjust margins for spacing between cards */
  }
  
/* animation slider */
.cards h1{
    font-size: 18px;
    font-weight: 500;
}
.cards .bookmarkicon{
    position: relative;
    top: 5%;
    margin-left: 5%;
    cursor: pointer;
    z-index: 2;
}
.cards:not(:first-child){
    margin-right: 2%;
}
.arrow-card{
    width: 100%;
    height: 90% !important;
    position: absolute;
}
.arrow-card-right{
    position: relative;
    left: 7%;
    top: 50% !important;
    cursor: pointer;
}
.arrow-card-left{
    position: relative;
    left: -100%;
    cursor: pointer;
    top: 50% !important;
}
.cards-info{
    display: flex;
    direction: rtl;
    flex-direction: column;
    width: 100%;
    padding: 5%;
}
.cards-info img{
    width: 40%;
    height: 115px;
    border-radius: 100px;
    border: 1px solid #959595;
    margin-right: auto;
    margin-left: auto;
}
.cards-info h1{
    font-family: "Sans";
    margin-top: 10%;
    line-height: 18px;
    font-family: 16px;
    color: #3D3D3D;
}
.cards-info h2{
    margin-top: 10%;
    font-family: "Sans";
    font-size: 14px;
    color: #7A7A7A;
}
.cards-info-row{
    margin-top: 10%;
    width: 100%;
    display: flex;
    direction: rtl;
    align-items: center;
    justify-content: space-between;
}
.cards-info-row-more{
    display: flex;
    align-items: center;
    z-index: 2;
    cursor: pointer;
    margin-right: auto;
}
.cards-info-row h3{
    font-size: 12px;
    color: #959595;
}
.cards-info-row-more h3{
    font-size: 14px;
    color: #FF7F50;
}
.cards-info-row-more img{
    width: 24px;
    height: 24px;
    border: none;
}
.slider-showmore{
    display: flex;
    align-items: center;
    justify-content: center;
    direction: rtl;
}
.slider-showmore span{
    font-size: 24px;
    color: #FF7F50;
    margin-left: 1%;
    line-height: 29.64px;
    position: relative;
    top: -10%;
}
/* slider end */
/* masir hamkari */
.masir{
    height: auto;
    margin-right: 9%;
    margin-left: 9%;
    margin-bottom: 10%;
}
.masir-detail{
    border: 4px solid #194775;
    border-radius: 20px;
    display: flex;
    direction: rtl;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 1%;
    margin-top: 10%;
    padding-bottom: 7%;
}
.masir-header{
    display: flex;
    justify-content: center;
    margin-top: 4%;
}
.masir-header h1{
    font-size: 24px;
    color: #102550;
}
.masir-middle{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 8%;
    width: 100%;
}
.masir-middle-items{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    direction: rtl;
}
.masir-middle-items h1{
    font-size: 20px;
    color: #3D3D3D;
    margin-top: 5%;
}
.masir-middle-items p{
    font-size: 15px;
    text-align: center;
    width: 85%;
    margin-top: 10%;
    color: #7A7A7A;
}
.arrow-icon1{
    position: absolute;
    margin-left: 25%;
    padding-bottom: 7%;
    width: 15%;
}
.arrow-icon2{
    position: absolute;
    margin-right: 27%;
    padding-bottom: 7%;
    width: 15%;
}
/* Adjust margin for Firefox */
@-moz-document url-prefix() {
    .arrow-icon2 {
      margin-right: -10%;
    }
  }
/* kharid eshterak home */
.kharid{
    width: 100%;
    background-color: #003366;
    height: auto;
    margin-bottom: 10%;
    direction: rtl;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    box-shadow: 0px 0px 24px 0px #2C156199;
    background-image: url('./image/ghavanin.svg');
    background-size: auto;
    background-repeat: no-repeat;
    background-blend-mode: overlay;
    background-position-x: -10%;
    position: relative;
}
.kharid h1{
    font-size: 36px;
    color: #FFFFFF;
    margin-top: 3%;
}
.kharid h2{
    color: #CAD9F9;
    margin-top: 3%;
    font-size: 20px;
}
.kharid a{
    text-decoration: none;
    color: #FF7F50;
    padding: 1%;
    font-size: 25px;
    font-weight: bold;
    background-color: #F6F6F6;
    margin-top: 3%;
    margin-bottom: 3%;
    border-radius: 8px;
    transition: 0.3s ease-in-out;
    text-align: center;
    width: 20%;
}
.kharid a:hover{
    transition: 0.3s ease-in-out;
    background-color: #ff5e23;
    color: white;
}
/* tarafeto beshnas */
.home-tarafeto{
    width: 100%;
    background-color: #FF9872;
    height: auto;
    margin-bottom: 10%;
    direction: rtl;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    margin-top: 5%;
    box-shadow: 0px 0px 24px 0px #2C156199;
    background-image: url('./image/ghavanin.svg');
    background-size: auto;
    background-repeat: no-repeat;
    background-blend-mode: overlay;
    background-position-x: -10%;
    position: relative;
    padding: 3%;
    box-shadow: 0px 0px 24px 0px #2C156199;
}
.home-tarafeto img{
    width: 30%;
    height: 50vh;
}
.home-tarafeto-text{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: auto;
    margin-right: 6%;
}
.home-tarafeto-text h1{
    font-size: 36px;
    color: #002347;
    font-weight: 400;
}
.home-tarafeto-text p{
    font-size: 22px;
    text-align: justify;
    margin-top: 10%;
    color: #002347;
    width: 85%;
}
.home-tarafeto-text a{
    text-decoration: none;
    text-align: center;
    margin-top: auto;
    padding: 2%;
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    background-color: #002347;
    color: #F6F6F6;
    font-size: 25px;
    transition: all .3s;
    cursor: pointer;
}
.home-tarafeto-text a:hover{
    transition: all .3s;
    background-color: #003a74;
}
/* box khadamat */
.box-khadamat {
    height: 90vh;
    margin-right: 9%;
    margin-left: 9%;
    display: flex;
    justify-content: space-between;
    opacity: 1; /* Initially invisible */
    transition: opacity 0.5s ease; /* Fade-in transition */
}

.box-khadamat.scrolled {
  opacity: 1; /* Initially hidden */
  animation: fadeInBlur 0.4s cubic-bezier(0.4, 0, 0.2, 1) forwards; /* Animation name: fadeIn, duration: 0.5 seconds, easing function: ease */
}
@keyframes fadeInBlur {
    0% {
      opacity: 0;
      filter: blur(10px);
    }
    25% {
      opacity: 0.25;
      filter: blur(8px);
    }
    50% {
      opacity: 0.5;
      filter: blur(6px);
    }
    75% {
      opacity: 0.75;
      filter: blur(4px);
    }
    100% {
      opacity: 1;
      filter: blur(0px);
    }
  }
.box-khadamat-img{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 33px;
    width: 50%;
    animation: fadeInUp 1.5s ease forwards; /* Add fadeInUp animation */
}
.box-khadamat-img img{
    width: 561.87px;
    height: 478.52px;
    border-radius: 8px;
}
.box-khadamat-text{
    direction: rtl;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 45%;
}
.box-khadamat-text h1{
    font-size: 42px;
    font-weight: bold;
    color: #000000;
}
.box-khadamat-text p{
    font-size: 25px;
    margin-top: 5%;
    color: #4F4F4F;
    line-height:40.87px;
}
.scrollicon-khadamat{
    position: relative;
    margin-top: 5%;
    margin-right: auto;
    margin-left: auto;
}
.image2 .box-khadamat-img {
    /* Add CSS animation rules for image */
    animation: fadeInUp 1.5s ease forwards; /* Add fadeInUp animation */
  }
  
  .image2 .box-khadamat-text {
    /* Add CSS animation rules for text */
    animation: fadeInUp 1.5s ease forwards; /* Add fadeInUp animation */
  }
@keyframes fadeInUp {
    from {
        transform: translateY(50px);
    }
    to {
        transform: translateY(0);
    }
}
/* hadaf */
.hadaf-sobot{
    margin-top: 5%;
    margin-bottom: 8%;
    display: flex;
    height: auto;
    margin-right: 9%;
    margin-left: 9%;
    justify-content: space-between;
}

.hadaf-sobot img{
    width: 45%;
    border-radius: 14px;
    height: 100%;
}
.hadaf-sobot-text{
    display: flex;
    direction: rtl;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 45%;
}
.hadaf-sobot-text h1{
    font-size: 30px;
    font-weight: 700;
}
.hadaf-sobot-text p{
    font-size: 20px;
    margin-top: 5%;
    color: #3D3D3D;
    text-align: justify;
}
/* majale */
.majale-header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    direction: rtl;
    height: auto;
    margin-bottom: 5%;
    text-align: center;
}
.majale-header h1{
    font-size: 25px;
    color: #FF7F50;
    font-weight: bold;
}
.majale-header h2{
    font-size: 18px;
    color: #4F4F4F;
    margin-top: 2%;
    margin-right: auto;
    margin-left: auto;
    width: 55%;
}
.majale-content{
    display: flex;
    height: 70vh;
    margin-right: 9%;
    margin-left: 9%;
    margin-bottom: 5%;
}
.majale-soton{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-right: 3%;
}

.majale-soton a{
    width: 100%;
    display: flex;
    justify-content: center;
    direction: rtl;
    border: 2px solid #002347;
    border-radius: 15px;
    box-shadow: 0px 0px 16px 0px #1B2B4E33;
    height: 47%;
    transition: all .3s;
    padding: 1%;
    text-decoration: none !important;
}
.majale-soton a:hover{
    border: 2px solid #034b92;
    box-shadow: 0px 0px 16px 20px #1B2B4E33;
    transition: all .3s;
}
.majale-soton img{
    border-radius: 25px;
    padding: 1%;
}
.majale-text{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: auto;
}
.majale-text p{
    font-size: 18px;
    color: #4F4F4F;
    text-align: center;
    width: 90%;
    padding: 1%;
}
.majale-text span{
    width: fit-content;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    width: 90%;
    color: #FF7F50;
    font-size: 20px;
    margin-top: 10%;
    cursor: pointer;
}
.majale-text img{
    position: relative;
    top: 10%;
}
.majale-soton2 a{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    direction: rtl;
    border: 2px solid #002347;
    border-radius: 15px;
    box-shadow: 0px 0px 16px 0px #1B2B4E33;
    height: fit-content;
    padding: 1%;
    transition: all .3s;
    margin-left: 1%;
    height: 100%;
    text-decoration: none !important;
}
.majale-soton2 a:hover{
    border: 2px solid #034b92;
    box-shadow: 0px 0px 16px 20px #1B2B4E33;
    transition: all .3s;
}
.majale-soton2 img{
    border-radius: 25px;
    position: relative;
    top: 1%;
    padding: 2%;
}
.majale-soton2 p{
    margin-top: 5%;
}
.majale-soton2 span{
    display: flex;
    justify-content: center;
    width: 100%;
    cursor: pointer;
    margin-bottom: 5%;
    margin-right: auto;
}
/* soalat motadavel */
.solata-home h1{
    font-size: 18px;
    color: #4f4f4f;
    direction: rtl;
    align-items: flex-start;
    margin-left: 9%;
    margin-right: 9%;
    margin-top: 7%;
    height: auto;
}
/* responsive ------------------ */
@media only screen and (max-width: 1500px) {
    .overlaym{
        width: 27%;
    }
    .overlaynotrow{
        margin-right: 25%;
    }
    .cards{
        flex-basis: 35%;
    }
    .arrow-card-right{
        top: 40% !important;
    }
    .arrow-card-left{
        top: 40% !important;
    }
    .Searchbox-items img{
        right: 3.5%;
    }
    .majale-text p{
        font-size: 15px;
    }
    .majale-text span{
        font-size: 16px;
    }
}
@media only screen and (max-width: 1200px) {
    main{
        height: 65vh;
    }
    .overlaym{
        width: 27%;
    }
    .overlay h1{
        font-size: 33px;
    }
    .overlay h2 span{
        font-size: 45px;
    }
    .overlaym{
        margin-top: 10%;
    }
}
@media only screen and (max-width: 1070px) {
    .overlaym{
        width: 24%;
    }
    .overlay h1{
        font-size: 33px;
    }
    .overlay h2 span{
        font-size: 45px;
    }
    .overlaym{
        margin-top: 15%;
    }
}
/* mobile desing */
@media only screen and (max-width: 500px) {
    .card-box {
        overflow-x: scroll;
    }
    .slider h1 {
        margin-top: 5%;
        margin-bottom: 10%;
    }
    .alert-demo{
        font-size: 12px;
        width: 65%;
        margin-left: 15%;
    }
    .alert-demo img{
        width: 24px;
    }
    /* header */
    header{
        background-image: url('./Icons/background.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position-x: center;
        width: 100%;
        height: 60vh;
    }
    .overlay{
        height: 60vh;
    }
    .overlaynotrow{
        display: flex;
        position: relative;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-end;
        direction: rtl;
        margin-top: 45%;
        margin-right: 45%;
        width: 50%;
    }
    .overlay h1{
        font-size: 20px;
        font-weight: 700;
        width: 100%;
        text-align: right;
    }
    .overlay h2{
        display: none;
    }
    .overlaym{
        width: 100%;
        direction: rtl;
        position: absolute;
        z-index: 2;
        margin-right: 9%;
    }
    .overlaym-bg{
        display: flex;
        flex-direction: column;
        align-items: center;
        background-image: url('./Icons/mostatil.svg');
        width: 35%;
        height: 60vh;
        margin-right: 0%;
        margin-top: 15%;
    }
    /* search box */
    .Searchbox-main{
        z-index: 3;
        top: -45%;
    }
    .Searchbox-items{
        display: flex;
        flex-direction: column;
        direction: rtl;
        width: 100%;
    }
    .Searchbox-items img{
        position: relative;
        right: 10%;
        width: 24px;
        height: 24px;
    }
    .Searchbox-items input{
        padding: 5%;
        padding-right: 13%;
        font-size: 12px;
        flex-basis: 100%;
    }
    .Searchbox-items select{
        padding: 5%;
        padding-right: 13%;
        font-size: 12px;
        flex-basis: 100%;
    }
    .Searchbox-items .searchicon2{
        position: relative;
        margin-right: 47%;
        top: 3.5vh;
    }
    .Searchbox-items button{
        padding: 3%;
        width: 98%;
        text-align: center;
        border: none;
    }
    .Searchbox-items-mobile{
        display: flex;
        align-items: center;
        margin-bottom: 10%;
        margin-top: 2%;
        width: 100%;
        justify-content: flex-start;
        left: 4%;
        position: relative;
    }
    .slider{
        top: -40%;
    }
    .cards{
        flex-basis: 100%;
    }
    .arrow-card{
        display: none;
    }
    .cards-info img{
        height: 100px;
    }
    /* masir section */
    .masir{
        height: auto;
        margin-top: 20%;
        margin-bottom: 20%;
    }
    .masir-detail{
        position: relative;
        height: auto;
        padding-bottom: 5%;
    }
    .masir-header h1{
        font-size: 16px;
    }
    .masir-middle{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-top: 8%;
        width: 100%;
    }
    .arrow-icon1{
        display: none;
    }
    .arrow-icon2{
        display: none;
    }
    .masir-middle-items{
        margin-top: 7%;
    }
    .masir-middle-items img{
        width: 60px;
    }
    /* kharid */
    .kharid{
        margin-top: 30%;
        padding-top: 5%;
        padding-bottom: 5%;
    }
    .kharid h1{
        font-size: 22px !important;
        margin-top: 3%;
    }
    .kharid h2{
        font-size: 16px !important;
    }
    .kharid a{
        font-size: 25px;
        margin-top: 5%;
        width: 50%;
        padding: 2%;
    }
    /* box khadamat */
    .box-khadamat{
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        margin-left: 8%;
        margin-right: 8%;
        transition: all 0.5s ease;
    }
    .box-khadamat-text-h1{
        text-align: center;
        direction: rtl;
        color: #FF7F50;
        font-size: 28px;
        font-weight: 500;
        margin-bottom: 8%;
        margin-top: 10%;
    }
    .box-khadamat-text{
        width: 100%;
        text-align: justify;
        font-size: 19px;
    }
    .box-khadamat-img{
        width: 100%;
    }
    .box-khadamat-img img{
        width: 100%;
        width: 100%;
        height: 282px;
    }
    .box-khadamat-text span{
        color: #FF7F50;
        font-size: 19px;
        margin-top: 10%;
        margin-right: auto;
        margin-left: auto;
        cursor: pointer;
    }
    .scrollicon-khadamat{
        width: 34px;
    }
    .box-khadamat-text p{
        font-size: 18px;
    }
    /* tarafeto beshnas */
    .home-tarafeto{
        background-image: none;
        margin-top:50%;
        margin-bottom: 15%;
    }
    .home-tarafeto-text{
        margin-right: 0;
        align-items: center;
        margin-top: 5%;
        margin-bottom: 5%;
    }
    .home-tarafeto-text h1{
        font-size: 30px;
    }
    .home-tarafeto-text p{
        text-align: justify;
        font-size: 22px;
    }
    .home-tarafeto-text a{
        font-size: 25px;
        width: 80%;
        border: none;
        margin-top: 10%;
    }
    /* majale */
    .majale-content {
        display: flex;
        justify-content: flex-start;
        overflow-x: auto;
        height: 50vh !important;
    }
    
    .majale-soton {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding-right: 3%;
        width: 100%;
    }
    
    .majale-soton a {
        border: 2px solid #ABC3F5;
        box-shadow: 0px 1px 5px 0px #2C156133;
        margin-right: 5%;
        height: 100%;
        width: 100%;
        min-width: 100%;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        padding: 2%;
        flex-shrink: 0; /* Prevent flex items from shrinking */
        /* Remove white-space: nowrap; */
        white-space: normal; /* Ensure normal white-space behavior */
    }
    
    .majale-soton a h1 {
        font-size: 18px;
        width: 90% !important;
        color: #4F4F4F;
        margin-top: 5%;
        margin-right: 5%;
        margin-left: 5%;
        /* Ensure the text can wrap */
        white-space: normal; /* Ensure text wraps inside h1 */
        word-wrap: break-word; /* Handle long words */
    }
    
    
    .majale-soton a img{
        width: 100%;
        height: 50%;
    }
    .majale-content{
        height: 33vh;
        margin-bottom: 20%;
    }
    .majale-header{
        height: 10vh;
    }
    .majale-text span{
        font-size: 14px;
        display: flex;
        justify-content: flex-end;
        margin-bottom: 5%;
    }
    .majale-text span img{
        width: 24px;
        height: 24px;
    }
    /* hadaf sobot */
    .hadaf-sobot{
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        color: #FF7F50;
        font-size: 25px;
        font-weight: 700;
    }
    .hadaf-sobot h1{
        font-size: 32px;
        margin-top: 10%;
    }
    .hadaf-sobot img{
        width: 100%;
        margin-top: 7%;
    }
    .hadaf-sobot-text{
        width: 100%;
        margin-top: 5%;
        line-height: 40.87px;
    }
  }