@font-face {
    font-family: "Sans";
    src: url('./IRANSansWeb\(FaNum\).ttf');
  }
*{
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
    font-family: "Sans";
}
.accept-cookies{
  position: fixed;
  background-color: gray;
  padding: 2%;
  border-radius: 8px;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
}
/* navbar  */
nav{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    position: absolute;
    z-index: 3;
    align-items: center;
    background-color: transparent;
    width: 100%;
    height: 13.5vh;
    padding-right: 3%;
    padding-left: 5%;
    font-family: "Sans";
    font-size: 20px;
    direction: rtl;
    box-shadow: 0px 4px 12px 0px #2C156126;

}
/* not in home pgae css */
.nav-not-home{
    background-color: #FFFFFF;
    box-shadow: 0px 4px 12px 0px #2C156126;
}
.nav-not-home .Navbar-items2 a,.nav-not-home .Navbar-items2 span{
    color: #003366;
}
.nav-not-home .Navbar-items1 a img{
    color: #003366;
}
.nav-not-home .Navbar-items2 input{
    border: 1.5px solid #003366;
    color: black;
    font-size: 16px;
}
.nav-not-home .Navbar-items2 input::placeholder{
    color: #194775;
    font-size: 11px;
}
.nav-not-home .Navbar-items1 a{
    color: #FF7F50;
}
.nav-not-home .Navbar-items1 .loc-a2{
    color: #002347;
}
/* navbar links */
nav a{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #F6F6F6;
    text-decoration: none;
    line-height: 25px;
    cursor: pointer;
    transition: all .3s;
    font-size: 20px;
}
nav a:hover{
  transition: all .3s;
  color: #b3b3b3;
}
nav span{
  display: flex;
  justify-content: center;
  align-items: center;
  color: #F6F6F6;
  text-decoration: none;
  line-height: 25px;
  cursor: pointer;
  transition: all .3s;
  font-size: 20px;
}
nav span:hover{
transition: all .3s;
color: #b3b3b3;
}
/* navbar links icons */
nav a img{
    position: relative;
    left: -10%;
}
nav .Navbar-items2 a img{
    position: relative;
    left: 0%;
}
/* links divs */
.Navbar-items1{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    width: 25%;
}
.Navbar-items2{
    display: flex;
    position: relative;
    left: 5%;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    width: 60%;
}
/* search box */
.Navbar-items2 input{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    padding: 7px;
    justify-content: space-between;
    background-color: transparent;
    width: 233.93px;
    height: 37.03px;
    color: #F6F6F6;
    border: 1.5px solid #F6F6F6;
    border-radius: 40px;
    font-size: 11px;
}
.Navbar-items2 input:focus{
    outline: none;
}
.Navbar-items2 input::placeholder{
    color: #F6F6F6;

}
/* Other styles remain the same */

.nav-list-hover {
    display: none;
    position: absolute;
    top: calc(100% - 1px);
    left: calc(33% - 10px);
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 8px;
  }
  
  .nav-list-hover li {
    list-style: none;
  }
  
  .nav-list-hover li a {
    display: block;
    padding: 20px;
    text-decoration: none;
    color: #333;
  }
  
  .nav-list-hover li a:hover {
    text-decoration: underline;
  }
  
  .Navbar-items2:hover .nav-list-hover {
    display: block;
  }
  /* ---------------- */
  .nav-list-hover2 {
    display: none;
    position: absolute;
    top: calc(100% - 1px);
    left: calc(20% - 10px);
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 8px;
  }
  
  .nav-list-hover2 li {
    list-style: none;
  }
  
  .nav-list-hover2 li a {
    display: block;
    padding: 20px;
    text-decoration: none;
    color: #333;
  }
  
  .nav-list-hover2 li a:hover {
    text-decoration: underline;
  }
  
  .Navbar-items2:hover .nav-list-hover2 {
    display: block;
  }
/* search box icon */
.Search-nav img{
    width: 24px;
    height: 24px;
    position: relative;
    left: 13%;
}
.Search-nav{
    display: flex;
    direction: rtl;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
}
.Search-nav input{
  padding: 5%;
}
/* responsive ----------- */
@media only screen and (max-width: 1450px) {
  .Navbar-items2{
    display: flex;
    justify-content: space-between;
    width: 65%;
    left: 0;
  }
  .nav-list-hover2{
    left: calc(-7% - 10px);
  }
  .nav-list-hover{
    left: calc(12% - 10px);
  }
}
@media only screen and (max-width: 1200px) {
  .Navbar-items2{
    display: flex;
    justify-content: space-between;
    width: 70%;
    left: 0;
  }
  nav a{
    font-size: 17px;
  }
  nav span{
    font-size: 17px;
  }
  .Navbar-items1{
    width: 30%;
  }
  .nav-not-home .Navbar-items2{
    display: flex;
    justify-content: space-between;
    width: 60%;
    left: 0;
  }
  .nav-not-home .Navbar-items1{
    width: 30%;
  }
}
/* mobile desing */
@media only screen and (max-width: 500px) {
  nav{
    background-color: transparent;
    box-shadow: none;
    direction: ltr;
  }
  .nav-not-home{
    background-color: transparent;
    box-shadow: none;
  }
}